form{
    background: #fff;
    padding: 2rem;
    border-radius: 7px;
    position: absolute;
  }
  
  form .field{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
  }
  
  form label{
    padding: 1rem;
  }
  
  form input, form select{
    margin: 4px 0;
    padding: 1rem;
    box-sizing: border-box;
  }
  
  form button{
    color: #fff;
    font-size: 2em;
    background: #333;
    border: 0;
    padding: 0 10px;
    border-radius: 50%;
    cursor: pointer;
  }
  
  #book-details{
    background: #333;
    padding: 1rem;
    overflow: auto;
    box-shadow: -2px -3px 5px rgba(0,0,0,0.3);
    box-sizing: border-box;
    color: #fff;
  }
  